/* reset browser */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  line-height: 0.6;
  font-size: 16px;
}

/* overall page */
body     {
  background: #FFF;
  font-family: inherit;
}

/* header */
header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}

/* main navigation */
nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
 }

nav ul li a:hover   {
  background: #444;
}

/* footer */
footer   {
  background: #222;
  color: #999;
  padding: 40px;
  text-align: center;
  line-height: 30px;
}
footer img   {
  display: block;
  border-radius: 3px;
  width: 80px;
  margin: 0 auto 10px;
}

/* main content */
.hero           {
  min-height: 800px;
  text-align: center;
  background-image: url('../img/car.jpg');
  background-size: cover;
}
.hero-content   {
  color: #Black;
  padding-top: 130px;
}
.hero-content h1   {
  font-size: 90px;
  margin: 0;
}
.hero-content p    {
  font-size: 30px;
}
.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  font-size: 28px;
}

/* site sections */
.site-section   {
  padding-bottom: 50px;
  padding-top: 50px;
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-header h2  {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

/* feature box */
.feature-box   {
  display: inline-block;
  width: 33%;
  white-space: nowrap;
  padding: 20px 30px;

}
